.advantages {
  $advantages: &;

  padding: 64px 0;

  @media (max-width: 800px) {
    padding: 40px 0;
  }

  &__list {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 28px;

    @media (max-width: 1200px) {
      overflow: auto;
      max-width: 100%;
      gap: 12px;
    }

    #{$advantages}__item {
      box-sizing: border-box;
      padding: 16px;
      border: 1px solid #eaebed;
      border-radius: 8px;
      -webkit-border-radius: 8px;
      -moz-border-radius: 8px;
      -ms-border-radius: 8px;
      -o-border-radius: 8px;

      @media (max-width: 1200px) {
        min-width: 270px;
      }

      @media (max-width: 800px) {
        min-width: 270px;
        padding: 12px 8px;
      }

      #{$advantages}__icon {
        @media (max-width: 800px) {
          width: 32px;
          height: 32px;
        }
      }

      #{$advantages}__title {
        margin-top: 10px;
        @include text(18px, 600, 28px, $secondaryColor);

        @media (max-width: 800px) {
          font-size: 14px;
          line-height: 16px;
          margin-top: 4px;
        }
      }

      #{$advantages}__text {
        margin-top: 8px;
        @include text(14px, 400, 18px, $secondaryColor);

        @media (max-width: 800px) {
          font-size: 12px;
          margin-top: 4px;
        }
      }
    }
  }
}
