.footer {
  $footer: &;

  background-color: $secondaryColor;

  &__top {
    display: grid;
    grid-template-columns: 2fr 5fr;

    @media (max-width: 900px) {
      grid-template-columns: none;
      grid-template-rows: 1fr 2fr;
    }

    #{$footer}__content {
      width: 640px;
      padding-top: 75px;
      padding-bottom: 68px;
      padding-left: 140px;

      @media (max-width: 1300px) {
        width: 440px;
        padding-left: 60px;
      }

      @media (max-width: 900px) {
        order: 1;
        width: auto;
        padding: 22px;
        padding-bottom: 42px;
        display: flex;
        flex-direction: column;
        align-items: center;
      }

      #{$footer}__title {
        @include text(32px, 600, 38.4px, $mainColor);
        margin-bottom: 74px;

        @media (max-width: 900px) {
          font-size: 18px;
          line-height: 28px;
          margin-bottom: 22px;
        }
      }

      #{$footer}__buttons {
        margin-top: 75px;
        padding-left: 48px;
        display: flex;
        flex-direction: column;
        justify-content: center;
        gap: 8px;

        @media (max-width: 900px) {
          margin-top: 46px;
        }

        &-item {
          @include text(16px, 400, 27px, #7e8290);
          transition: 0.3s all;
          -webkit-transition: 0.3s all;
          -moz-transition: 0.3s all;
          -ms-transition: 0.3s all;
          -o-transition: 0.3s all;

          &:hover{
            color: $primaryColor;
          }
        }
      }

      #{$footer}__socials {
        margin-top: 75px;

        @media (max-width: 900px) {
          margin-top: 20px;
        }
      }
    }

    #{$footer}__map {
      height: 100%;
      width: 100%;
      position: relative;

      @media (max-width: 900px) {
        order: 0;
      }

      #{$footer}__map-wrapper {
        height: 100%;
        width: 100%;
        position: relative;

        iframe {
          width: 100%;
          height: 100%;
          right: 0;
        }
      }
    }
  }

  &__bottom {
    background-color: $mainColor;
    padding: 60px 0;

    @media (max-width: 900px) {
      padding: 24px 0;
    }

    &-wrapper {
      display: flex;
      justify-content: space-between;

      @media (max-width: 900px) {
        flex-direction: column;
        gap: 18px;
      }

      #{$footer}__bottom-content {
        max-width: 816px;
        @include text(16px, 400, 24px, #7e8290);
        @media (max-width: 900px) {
          order: 1;
          font-size: 12px;
          line-height: 18px;
        }
      }

      #{$footer}__bottom-link {
        @include text(16px, 400, 24px, $primaryColor);
        text-decoration: underline;

        @media (max-width: 900px) {
          font-size: 12px;
          line-height: 18px;
        }
      }

      #{$footer}__logo {
        @media (max-width: 900px) {
          max-width: 118px;
        }
      }
    }
  }
}
