.interior-doors {
  padding-top: 40px;
  padding-bottom: 29px;
  background-color: #f4f4f5;

  // &:last-child{
  //   @media (max-width: 950px) {
  //     padding-bottom: 20px;
  //   }
  // }

  @media (max-width: 950px) {
    padding-bottom: 20px;
    padding-top: 20px;
  }

  .card{
    max-width: 282px;
    min-width: 282px;
  }

  &__top {
    display: flex;
    justify-content: space-between;
    margin-bottom: 28px;

    @media (max-width: 1040px) {
      flex-direction: column;
      gap: 12px;
    }
  }

  &__content {
    position: relative;
  }

  &__swiper,
  .input-doors__swiper {
    width: 100%;
    height: 100%;
  }

  &__next {
    right: 16px;
    width: 32px;
    height: 32px;
  }

  &__prev {
    left: 16px;
    width: 32px;
    height: 32px;
  }
}

.input__doors-next,
.input__doors-prev {
  height: 42px;
  width: 42px;
}

.input__doors-next {
  right: 12px;
}

.input__doors-prev{
  left: 12px;
}

.input-doors{
  .card{
    min-width: 376px;
    max-width: 376px;

    @media (max-width: 800px) {
      min-width: unset;
    }
  }
}