.publicity {
  $publicity: &;

  &__wrapper {
    background: linear-gradient(
      180deg,
      #f5faff 0%,
      #f6feff 45.13%,
      #f5fbff 75.34%,
      #f1f5fc 100%
    );
    display: flex;

    #{$publicity}__img {
      @media (max-width: 800px) {
        display: none;
      }
    }

    #{$publicity}__content {
      padding: 112px 104px;
      max-width: 567px;
      display: flex;
      align-items: flex-start;
      justify-content: center;
      flex-direction: column;

      @media (max-width: 1100px) {
        padding: 60px 40px;
        max-width: none;
      }

      @media (max-width: 800px) {
        padding: 30px 20px;
        max-width: none;
      }

      #{$publicity}__text {
        margin-top: 24px;
        @include text(16px, 400, 28.2px, $secondaryColor);

        @media (max-width: 800px) {
          font-size: 14px;
          line-height: 18px;
        }
      }

      #{$publicity}__button {
        margin-top: 24px;

        @media (max-width: 800px) {
          font-size: 18px;
          line-height: 24px;
          width: 100%;
          justify-content: center;
          max-width: none;
          padding: 8px 20px;
          margin-top: 28px;
        }
      }
    }
  }
}
