.btn--filter {
  padding: 4px 16px;
  @include text(16px, 400, 24px, $secondaryColor);
  border-radius: 39px;
  -webkit-border-radius: 39px;
  -moz-border-radius: 39px;
  -ms-border-radius: 39px;
  -o-border-radius: 39px;

  &:hover {
    background-color: $secondaryColor;
    color: $mainColor;
  }
}
