.btn--outline {
  background-color: $mainColor;
  box-sizing: border-box;
  padding: 8px 20px;
  @include text (18px,400,24px,$secondaryColor);
  border: 1px solid $primaryColor;
  border-radius: 39px;
  -webkit-border-radius: 39px;
  -moz-border-radius: 39px;
  -ms-border-radius: 39px;
  -o-border-radius: 39px;
  transition: 0.3s all;
  -webkit-transition: 0.3s all;
  -moz-transition: 0.3s all;
  -ms-transition: 0.3s all;
  -o-transition: 0.3s all;

  &.max {
    height: 40px;
  }

  &.medium {
    height: 32px;
    font-size: 14px;
    line-height: 20px;
  }

  &.min {
    height: 24px;
    font-size: 12px;
    line-height: 12px;
  }

  &:hover {
    background-color: $secondaryColor;
    color: $mainColor;
    border: none;
  }
}
