.btn--material {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 50px;
  height: 50px;
  padding: 0;
  overflow: hidden;
  border-radius: 6px;
  -webkit-border-radius: 6px;
  -moz-border-radius: 6px;
  -ms-border-radius: 6px;
  -o-border-radius: 6px;

  & img {
    width: 100%;
    max-width: 50px;
    height: auto;
    object-fit: cover;
    transition: 0.3s all;
    -webkit-transition: 0.3s all;
    -moz-transition: 0.3s all;
    -ms-transition: 0.3s all;
    -o-transition: 0.3s all;
  }

  &:hover {
    outline: 1px solid #000;
  }

  &:hover img {
    width: 80%;
  }

  &.active {
    outline: 1px solid #000;
    position: relative;

    &::after {
      content: "";
      width: 22px;
      height: 22px;
      background-color: $mainColor;
      background-image: url("./../images/success.svg");
      background-size: 22px 22px;
      position: absolute;
      right: 0;
      top: 0;
      border: 1px solid $mainColor;
      border-radius: 50%;
      -webkit-border-radius: 50%;
      -moz-border-radius: 50%;
      -ms-border-radius: 50%;
      -o-border-radius: 50%;
    }
  }

  &.active img {
    width: 80%;
  }
}
