.block__left-image{
    display: flex;
    gap: 40px;
    margin-top: 32px;

    @media (max-width: 800px) {
        flex-direction: column;
    }

    &-text{
        width: 100%;
        height: auto;
        max-width: 100%;
        object-fit: cover;
    }

    &-text{
        @include text(16px, 400, 24px, $secondaryColor);
    }
}