.call {
  $call: &;

  &__icon {
    width: 32px;
    height: 32px;
  }

  &__wrapper {
    display: flex;
    flex-direction: column;
    gap: 3px;

    &.card-product{
      gap: 6px;
      padding: 0;
    }

    #{$call}__subtitle {
      color: $lightColor;
      font-size: 12px;
      font-weight: 400;
      line-height: 18px;

      &.card-product{
        @include text(14px, 400, 18px, #7E8290);
        padding: 0;
      }
    }

    #{$call}__phone {
      color: $secondaryColor;
      font-size: 22px;
      font-weight: 400;
      line-height: 26px;
      letter-spacing: -0.02em;

      span {
        font-weight: 600;
      }
    }

    #{$call}__button{
      @include text(14px, 400, 18px, $secondaryColor);
      text-decoration-line: underline;
      padding: 0;
      text-align: start;
    }
  }
}
