.card {
  $card: &;

  background-color: $mainColor;
  padding: 16px 15.21px;
  border: 1px solid #eaebed;
  text-align: center;
  border-radius: 8px;
  -webkit-border-radius: 8px;
  -moz-border-radius: 8px;
  -ms-border-radius: 8px;
  -o-border-radius: 8px;

  @media (max-width: 950px) {
    height: initial;
  }

  &__img {
    width: 100%;
    max-width: 100%;
    height: auto;
    object-fit: cover;
  }

  &__info {
    margin-top: 12px;
    text-align: start;

    #{$card}__title {
      @include text(16px, 400, 20px, $secondaryColor);
      transition: 0.3s all;
      -webkit-transition: 0.3s all;
      -moz-transition: 0.3s all;
      -ms-transition: 0.3s all;
      -o-transition: 0.3s all;

      &:hover {
        color: $primaryColor;
      }
    }

    #{$card}__options {
      $card__options: #{$card}__options;

      display: flex;
      justify-content: flex-start;
      gap: 4px;
      align-items: center;
      margin-top: 20px;
    }

    #{$card}__bottom {
      display: flex;
      justify-content: space-between;
      align-items: center;
      margin-top: 20px;

      #{$card}__price {
        @include text(18px, 600, 18px, $secondaryColor);
      }

      #{$card}__button {
        display: flex;
        gap: 8px;
        background-color: inherit;
        @include text(14px, 400, 20px, $mainColor);

        span {
          display: none;
          transition: 0.2s all;
          -webkit-transition: 0.2s all;
          -moz-transition: 0.2s all;
          -ms-transition: 0.2s all;
          -o-transition: 0.2s all;
        }

        &:hover {
          background-color: $secondaryColor;
        }
      }
    }
  }

  &:hover .card__button {
    background-color: $primaryColor;
  }
  &:hover .card__button span {
    display: block;
  }
}
