.hamburger-box,
.hamburger-box-x {
  width: 40px;
  height: 34px;
  position: relative;
  cursor: pointer;

  .hamburger-inner {
    position: absolute;
    top: 4px;
    width: 40px;
    height: 4px;
    border-radius: 4px;
    background-color: #000;

    &::before {
      content: "";
      display: block;
      top: 10px;
      position: absolute;
      width: 40px;
      height: 4px;
      border-radius: 4px;
      background-color: #000;
    }

    &::after {
      content: "";
      display: block;
      top: 20px;
      bottom: -10px;
      position: absolute;
      width: 40px;
      height: 4px;
      border-radius: 4px;
      background-color: #000;
    }
  }
}

.hamburger-box-x {
  .hamburger-inner {
    background-color: #fff;
    transform: translate3d(0, 10px, 0) rotate(45deg);
    -webkit-transform: translate3d(0, 10px, 0) rotate(45deg);
    -moz-transform: translate3d(0, 10px, 0) rotate(45deg);
    -ms-transform: translate3d(0, 10px, 0) rotate(45deg);
    -o-transform: translate3d(0, 10px, 0) rotate(45deg);

    &::before {
      background-color: #fff;
      transform: rotate(-45deg) translate3d(-5.71429px, -6px, 0);
      opacity: 0;
      -webkit-transform: rotate(-45deg) translate3d(-5.71429px, -6px, 0);
      -moz-transform: rotate(-45deg) translate3d(-5.71429px, -6px, 0);
      -ms-transform: rotate(-45deg) translate3d(-5.71429px, -6px, 0);
      -o-transform: rotate(-45deg) translate3d(-5.71429px, -6px, 0);
    }

    &::after {
      background-color: #fff;
      transform: translate3d(0, -20px, 0) rotate(-90deg);
      -webkit-transform: translate3d(0, -20px, 0) rotate(-90deg);
      -moz-transform: translate3d(0, -20px, 0) rotate(-90deg);
      -ms-transform: translate3d(0, -20px, 0) rotate(-90deg);
      -o-transform: translate3d(0, -20px, 0) rotate(-90deg);
    }
  }
}
