.mini-menu {
  &__link {
    width: 32px;
    height: 32px;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: $secondaryColor;
    border-radius: 39px;
    -webkit-border-radius: 39px;
    -moz-border-radius: 39px;
    -ms-border-radius: 39px;
    -o-border-radius: 39px;
    position: relative;
    transition: 0.3s all;
    -webkit-transition: 0.3s all;
    -moz-transition: 0.3s all;
    -ms-transition: 0.3s all;
    -o-transition: 0.3s all;

    span {
      position: absolute;
      width: 22px;
      height: 22px;
      background-color: $primaryColor;
      color: $mainColor;
      border-radius: 44px;
      -webkit-border-radius: 44px;
      -moz-border-radius: 44px;
      -ms-border-radius: 44px;
      -o-border-radius: 44px;
      display: flex;
      align-items: center;
      justify-content: center;
      right: -9px;
      top: -9px;
    }

    &:hover {
      background-color: $ofFocusColor;
    }
  }
}
