.price {
  display: none;
  background-color: #fff;
  padding: 47px 0 35px;
  width: 100%;
  position: fixed;
  z-index: 11;
  max-height: 100vh;
  overflow: auto;

  $price: &;

  &.active {
    display: block;
  }

  &__wrapper {
    display: flex;
    flex-direction: column;
  }

  &__section-title {
    margin-bottom: 8px;
  }

  &__title {
    @include text(18px, 600, 28px, $secondaryColor);
    margin: 32px 0 16px;
  }

  &__block {
    display: flex;
    flex-direction: column;
    gap: 8px;

    #{$price}__row {
      display: grid;
      // justify-content: space-between;
      gap: 56px;
      padding: 8px 12px;
      background-color: #f4f4f5;

      &.col-3 {
        grid-template-columns: 1fr 433px 1fr;
      }

      #{$price}__item {
        text-align: start;

        &.item_type {
          @include text(16px, 400, 24px, #7e8290);
        }

        &.item_text {
          @include text(16px, 400, 24px, $secondaryColor);
        }

        &.item_price {
          @include text(18px, 600, 22px, $secondaryColor);
        }
      }
    }
  }

  .table-rows {
    width: 100%;
    margin-top: 0;

    tr:nth-child(2n) {
      background-color: #f4f4f5;
    }

    tr {
      border-bottom: 8px solid #fff;

      td {
        span {
          color: $primaryColor;
        }
      }

      td:last-child {
        @include text(18px, 600, 22px, $secondaryColor);
      }
    }
  }

  &__button {
    margin-top: 36px;
    align-self: center;
  }

  &__button-close {
    position: fixed;
    right: 30px;
    top: 18px;
    font-size: 30px;
    padding: 12px 16px;
    color: #7e8290;
    border: 1.5px solid #7e8290;
    border-radius: 50%;
    -webkit-border-radius: 50%;
    -moz-border-radius: 50%;
    -ms-border-radius: 50%;
    -o-border-radius: 50%;

    &:hover {
      img {
        filter: brightness(11.5);
        -webkit-filter: brightness(11.5);
      }
    }

    img {
      width: 18px;
      height: auto;
      fill: #fff;
      display: block;
    }
  }
}
