.main {
  margin-top: 28px;

  @media (max-width: 800px) {
    margin-top: 0;
  }

  & .container {
    @media (max-width: 800px) {
      padding: 0;
    }
  }
  &__wrapper {
    position: relative;
    background-color: #f6dcd1;
    border-radius: 8px;
    -webkit-border-radius: 8px;
    -moz-border-radius: 8px;
    -ms-border-radius: 8px;
    -o-border-radius: 8px;
  }

  .main__slide {
    padding: 56px 66px;

    @media (max-width: 800px) {
      padding: 28px 20px 66px;
      display: flex;
      flex-direction: column;
    }
  }

  &__swiper-button-next,
  &__swiper-button-prev {
    @media (max-width: 800px) {
      bottom: 12px;
      top: unset;
      width: 12px !important;
      height: 12px !important;
      right: 20px !important;
    }
  }

  &__swiper-button-prev {
    @media (max-width: 800px) {
      left: 20px !important;
    }
  }
}
